---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



 @include media-query($on-palm) {
     .wrapper {
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


$font-Regular: "open_sansregular", arial, sans-serif;
$font-Light: "open_sanslight", arial, sans-serif;
$font-SemiBold: "open_sanssemibold", arial, sans-serif;
$color: #1f2430;
$color-p: #454545;
$color-h: #303030;
$color-a: #33b7ae;
$color-button-green: #45837f;
$color-button-grey: #949494;
$color-grey: #a3a8aa;
$color-border-bottom: #a3a8aa;
$color-purple: #f16a8d;


@mixin transition ($time: 0.35s){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}
@mixin  border-radius ($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin font-size-lh($size:1.6, $line: $size * 1.5){
  font-size:   $size + px;
  line-height: $line + px;
}
@mixin img-responsive($display: block) {
  display: $display;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@mixin rotate($rotate: 0) {
  -webkit-transform: rotate($rotate + deg);
  -moz-transform: rotate($rotate + deg);
  -o-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}

@mixin placeholder($color: $color, $opacity: 1 ){
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}
@mixin width($w,$p){
  width: $w - $p*2 + px;
}
